@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500;700&family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: lightgray;
}
h3{
    color: red;
}


.bordes{
    border-top: solid 5px lightgray;
    border-bottom: solid 5px lightgray;

}
.parrafo{
    padding: 20px;
    background-color: rgb(137, 127, 106);
    font-weight: bold;
  
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px; }
  
  .footer__ubicanos {
    text-align: left; }
  
  .footer__seguinos {
    text-align: center; }
  
  .footer__politicas {
    text-align: right;
    color: white; }
.loguito{
    margin: 5px;
}
.logocolor{
    padding: 100px 150px;

}
.menu{
    display: flex;
    justify-content: flex-end;
}
.posicionUbicacion {
    display: flex;
    justify-content: center;
    background-color: rgb(137, 127, 106);;
    padding-top: 15px;
    padding-bottom: 15px; }

    .botonAni{
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .botonAni:hover{
        background-image: linear-gradient(to left, rgb(137, 127, 106), lightgrey);
    }
    .iconos_inicio {
        display: flex;
        justify-content: center;
    }

    <!-- Footer <-<-<-<-<-<-Q(-_-Q) -->